.hero-img,
.main-btn,
.learning-btn {
  transition: all 0.4s ease-in-out;
}
.hero-img:hover {
  cursor: pointer;
  transform: scale(1.3) rotateY(180deg);
}

/* Button animation */
.main-btn {
  transform-origin: top left;
}
.main-btn:hover {
  transform: skew(0, 10deg);
}

/* learning btn animations */
.learning-btn:hover {
  background-color: #ffffff;
  color: #55c2d8;
}

/* stars animation */
/* .star,
.shining {
  display: none;
} */
.star,
.shining {
  position: absolute;
  right: 0;
}

.shining {
  top: 0px;
  animation-name: starMove;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.star {
  top: 0px;
  right: 0px;
  animation-name: opacity;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animation */

@keyframes starMove {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(-50px);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
