/* Header */
.burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
}
.burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #ffffff;
  left: 5px;
}
.hidden {
  display: none;
}
.burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

@media (max-width: 865px) {
  .burger-btn {
    display: block;
    position: relative;
    left: 125px;
    z-index: 2;
    bottom: 20px;
  }
  .menu-list {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #464547;
    flex-direction: column;
    gap: 20px;
    padding: 70px 20px 50px 20px;
    width: 350px;
    text-align: end;
    gap: 40px;
  }
  .menu-link {
    display: block;
    margin-bottom: 10px;
    font-size: 21px;
  }

  /* hero photo */
  .hero {
    min-height: 660px;
  }
  .main-text__wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media (max-width: 660px) {
  .burger-btn {
    left: 90px;
  }
  .main-title {
    margin: 0 auto;
    max-width: 400px;
    gap: 40px;
  }
  .menu-list {
    width: 100%;
  }
  .menu-item {
    padding-top: 30px;
  }

  /* footer */
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    transform: translateX(-14px);
    margin-bottom: 30px;
  }
  .address,
  .email {
    margin-bottom: 12px;
  }

  .privacy-text {
    align-self: auto;
  }
}

@media (max-width: 482px) {
  .burger-btn {
    left: 65px;
  }
  .main-subtitle,
  .main-text {
    max-width: 372px;
    margin: 0 auto;
  }
  .main-title,
  .main-subtitle {
    margin-bottom: 20px;
  }
  .main-title,
  .learnin-title {
    font-size: 42px;
  }

  .star,
  .shining {
    display: none;
  }
}
