@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');
/* Geneneral */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  transition: all 0.3s ease-out;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
button {
  cursor: pointer;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding-top: 45px;
  z-index: 30;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;
}
.logo {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 16px;
}
.menu-list {
  display: flex;
  gap: 32px;
}
.menu-item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* hero section */

.hero {
  padding-top: 273px;
  background-image: url(/assets/img/Background+Transparent.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  color: white;
  background-position: 0px;
  position: relative;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 50;
}

.hero-logo {
  margin-bottom: 15px;
}
.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 34px;
}
.subtitle {
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 426px;
  text-align: center;
}

/* Main section */

.main {
  padding: 70px 0 98px;
}

.h2-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.main-title {
  margin-bottom: 28px;
}
.main-subtitle {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-bottom: 37px;
}
.main-text__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.main-text {
  max-width: 420px;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.btn {
  display: block;
  margin: 0 auto;

  background: #55c2d8;
  border-radius: 18px;
}
.main-btn {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  padding: 5px 30px;
  letter-spacing: 0.1em;
}
/* Learning section */
.learning {
  padding-top: 80px;
  background-image: url(../img/learning__bg.jpg);
  background-color: rgba(140, 79, 42, 0.3);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 660px;
}

.learnin-title {
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  max-width: 430px;
}

.learning-btn {
  background-color: #55c2d8;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 60px;
  padding: 0 60px;
  margin-bottom: 52px;
}
.learning-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  max-width: 352px;
  margin: 0 auto;
  padding-bottom: 57px;
}
/* Footer */
.footer {
  background: #464547;
  padding: 16px 0 80px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.footer-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}
.logo {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.address {
  margin-bottom: 27px;
}

.privacy-text {
  align-self: flex-end;
}
